{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="auth-page">
    <div class="auth-box">
        <h1 class="auth-title">{{ title }}</h1>

        {{ form_start(form, { attr: { class: 'auth-form', 'enctype': 'multipart/form-data' } }) }}
            {% for field in form %}
                {% if field.vars.name != '_token' %}
                    {{ form_row(field) }}
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn-adhesion">{{ title }}</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}