<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon Site Symfony{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <div>
        <div class="hero-overlay">
            <!-- Menu de navigation -->
            <nav class="main-navigation">
                <a href="{{ path('app_home') }}" class="nav-link">Accueil</a>
                <a href="/galerie" class="nav-link">Galerie</a>
                <a href="/contact" class="nav-link">Contact</a>
                <a href="{{ path('app_register') }}" class="nav-link">Inscription</a>
                <a href="{{ path('app_login') }}" class="nav-link">Connexion</a>
            </nav>

        </div>
    </div>
<main>
    {% block body %}{% endblock %}
</main>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
